.field_wrap
  display: inline-flex
  align-items: center
  gap: 10px
  border: 1px solid #E0E4EA
  border-radius: 10px
  padding: 10px 20px
  position: relative
  min-height: 45px

  .field
    width: max-content
    border: none
    outline: none

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0

    /* Firefox */
    &[type=number]
      -moz-appearance: textfield

    &:placeholder
      color: #E0E4EA

  .arrows
    display: flex
    flex-direction: column

    button
      cursor: pointer
      right: 12px
      transition: transform .3s

      &:hover
        transform: scale(1.3)

    button:first-child
      position: absolute
      top: 0
    button:last-child
      position: absolute
      bottom: 0

.label
  display: flex
  flex-direction: column
  gap: 10px

  .label_text, .helper
    font-size: 12px
    color: var(--black)
