.top
    padding: 30px 0
    display: flex
    align-items: start

.top_content
    border-radius: 10px
    border: 1px solid #E0E4EA
    overflow: hidden

.top_file_name
    padding: 20px 100px
    background-color: rgba(20, 20, 20, 0.04)
    font-weight: 600
    font-size: 14px

.top_btns
    padding: 10px 15px
    display: flex
    flex-direction: column
    gap: 25px

.top_name, .top_btn
    padding: 18px 0
    width: 100%
    display: flex
    justify-content: center
    font-weight: 500
    font-size: 14px
    border: 1px solid #E0E4EA
    border-radius: 10px
    cursor: pointer

.top_btn
    font-weight: 500
    font-size: 14px
    border: 1px solid #141414
    transition: .1s linear
    &:hover
        background-color: #141414
        color: white

.terminal
    display: flex
    border-radius: 10px
    border: 1px solid #E0E4EA
    overflow: hidden
    flex-direction: column
    margin-top: 50px

.terminal_name
    padding: 30px
    width: 100%
    display: flex
    background-color: rgba(20, 20, 20, 0.04)
    font-weight: 600
    font-size: 14px

.terminal_bottom
    display: flex
    justify-content: center
    align-items: center
    padding: 40px 0
    padding-bottom: 140px
    button
        max-width: 360px

.items
    display: flex
    gap: 20px
    padding: 20px 10px

.item
    display: flex
    flex-direction: column
    gap: 10px
    width: 100%
    p
        font-weight: 500
        font-size: 12px