.content
  margin-top: 80px

.tab_content_wrap
  border: 1px solid #E0E4EA
  padding: 20px
  border-radius: 10px
  margin-top: 20px
  display: flex
  flex-direction: column
  gap: 100px

.banner_add_btn_wrap
  width: 100%
  display: flex
  justify-content: flex-end

.banner_add_btn
  align-items: flex-end
  font-weight: 700
  font-size: 12px

.tab_content
  display: flex
  gap: 30px

  .controls
    width: 100%
    display: flex
    flex-direction: column
    gap: 15px
    padding-top: 25px

    .banner_controls
      background: #000
      display: flex
      align-items: center
      border-radius: 10px
      padding-right: 2px

    button
      width: 100%
      height: max-content
      display: flex
      justify-content: center
      align-items: center

  .banner_wrap
    width: 370px
    min-width: 370px
    height: 315px

    img
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 10px

  .fields
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    height: max-content
    gap: 16px

    .field
      width: 100%
      height: max-content

      > p
        font-weight: 500
