.soft_items
    padding-top: 100px

.soft_items
    display: flex
    flex-direction: column
    gap: 60px

.soft_item
    display: flex
    flex-direction: column
    gap: 17px
    align-items: start

.soft_item_top
    display: flex
    gap: 20px
    align-items: center
    p
        font-weight: 700
        font-size: 26px

.soft_button 
    padding: 18px 0
    width: 212px
    display: flex
    justify-content: center
    border-radius: 10px
    border: 1px solid #E0E4EA
    font-weight: 500
    font-size: 14px
    transition: .1s linear
    cursor: pointer
    text-decoration: none
    color: #141414
    &:hover
        background-color: #141414
        border: 1px solid #141414
        color: white