.dropdown
  width: 220px

  &_content
    width: 100%
    overflow: hidden
    transition: max-height 0.3s ease-in-out
    max-height: 0
    opacity: 0
    background: #282828

  .open
    opacity: 1
