.order_detail
  width: 666px

  &_item
    display: flex
    flex-direction: column
    gap: 16px

    ul
      list-style: none
      display: flex
      flex-direction: column
      gap: 16px

    h4
      font-weight: 600
      font-size: 14px

    p, a
      font-size: 12px
      font-weight: 400
      line-height: 120%
