.button
  padding: 12px 20px
  display: inline-flex
  align-items: center
  gap: 10px
  border-radius: 10px
  font-weight: 700
  cursor: pointer

  &.primary
    background: #141414
    color: #fff
    transition: .3s opacity

    &:hover
      opacity: .8

  &.white
    background: #FFFFFF
    color: #000000
    transition: .3s opacity

    &:hover
      opacity: .8

  &.outlined
    background: none
    border: 1px solid #141414
    color: #141414
    font-weight: 500
