.modal
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  backdrop-filter: blur(10px)
  background-color: #14141424
  z-index: 10
  display: flex
  justify-content: center
  align-items: center
  transition: .3s
  visibility: hidden
  opacity: 0

  &.active
    visibility: visible
    opacity: 1

  &_inner
    position: relative
    background: #fff
    min-width: 450px
    padding: 40px
    border-radius: 10px
    box-shadow: 0px 2px 10px 0px #0000000F
    max-height: 100%
    overflow-y: auto

  &_header
    display: flex
    align-items: center

    .title
      font-weight: 700
      font-size: 26px

    .close_btn
      position: absolute
      top: 20px
      right: 20px
      color: gray
      cursor: pointer

  &_content
    margin-top: 30px
