.clients_details_top, .clients_details_bottom
    display: flex
    gap: 40px

.clients_item 
    display: flex
    flex-direction: column
    gap: 16px
    h2
        font-weight: 600
        font-size: 14px
    p
        font-weight: 400
        font-size: 12px
    max-width: 186px
    width: 147px

.details_title
    font-weight: 600
    font-size: 14px

.clients_details 
    display: flex
    flex-direction: column
    gap: 30px
    width: 743px

.details_items
    display: flex
    flex-direction: column
    gap: 30px

.details_item_order
    display: flex
    padding-top: 16px
    gap: 5px
    font-weight: 400
    font-size: 12px

.clients_details_bottom .clients_item:first-child 
    width: 151px

.filter_title 
    display: flex
    align-items: center
    justify-content: end
    gap: 5px
    font-weight: 600
    font-size: 14px

.filter_items 
    display: flex
    flex-direction: column
    gap: 22px

.filter_item 
    display: flex
    align-content: center
    gap: 20px
    align-items: end
    max-width: 285px

.filter_item_select 
    width: 285px

.filter_item_calendar 
    div
        height: 40px
        display: flex
        align-items: center
    label
        top: -6px

.filter_item_count_orders 
    display: flex
    align-items: center
    gap: 16px
    padding-top: 10px

.filter_item_count_order 
    width: 125px
    input 
        width: 100% !important

.filter_item_label 
    font-weight: 400
    font-size: 12px

.filter_orders_input 
    width: 285px

.filter_item_btn 
    height: 45px

.edit_item 
    display: flex
    width: 100%
    justify-content: space-between
    align-items: end
    gap: 40px
    label
        width: 50%

.edit_select
    width: 50%

.edit_date
    width: 50%
    p
        font-size: 12px
        padding-bottom: 5px
    input
        width: 100%

.custom_action_form
    width: 100%
    display: flex
    flex-direction: column

.edit_orders 
    display: flex
    flex-direction: column
    gap: 18px
    h2 
        font-weight: 600
        font-size: 22px
        text-align: center

.filter_content
    display: flex
    align-content: center
    gap: 20px
    align-items: end

.filter_content:first-child
    padding-top: 35px

.filter_item_button
    display: flex
    justify-content: flex-end

.details_sum_item 
    display: flex
    padding-top: 18px
    gap: 40px
    align-items: end
    font-weight: 400
    font-size: 12px

.details_item_note
    display: flex
    gap: 30px

.details_note
    display: flex
    flex-direction: column
    gap: 16px

.details_note 
    p
        font-weight: 400
        font-size: 12px
        max-width: 485px

.edit_date_input 
    padding: 15px 22px
    border-radius: 10px
    height: 45px
    border: 1px solid #E0E4EA
    outline: none

.finance_order
    width: 100%
    max-width: 285px