.top
    padding: 30px 0
    display: flex
    align-items: start

.top_content
    border-radius: 10px
    border: 1px solid #E0E4EA
    overflow: hidden

.top_file_name
    padding: 20px 100px
    background-color: rgba(20, 20, 20, 0.04)
    font-weight: 600
    font-size: 14px

.top_btns
    padding: 10px 15px
    display: flex
    flex-direction: column
    gap: 25px

.top_name, .top_btn
    padding: 18px 0
    width: 100%
    display: flex
    justify-content: center
    font-weight: 500
    font-size: 14px
    border: 1px solid #E0E4EA
    border-radius: 10px
    cursor: pointer

.top_btn
    font-weight: 500
    font-size: 14px
    border: 1px solid #141414
    transition: .1s linear
    &:hover
        background-color: #141414
        color: white

.terminal
    display: flex
    border-radius: 10px
    border: 1px solid #E0E4EA
    overflow: hidden
    flex-direction: column
    margin-top: 50px

.terminal_name
    padding: 20px
    width: 100%
    display: flex
    background-color: rgba(20, 20, 20, 0.04)
    font-weight: 600
    font-size: 14px

.terminal_items
    padding: 30px
    display: flex
    flex-direction: column
    gap: 20px

.terminal_item
    p
        display: flex
        align-items: center
        gap: 7px
    span
        display: block
        width: 15px
        height: 11px
        border: 1px solid #141414
        border-radius: 10px
        box-shadow: 0px 4px 4px 0px #00000040

.pagination
    padding: 9px 12px
    border: 1px solid #AEB2B8
    border-radius: 10px
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 7px

.pagination_btn
    padding: 10px
    font-weight: 500
    font-size: 14px
    border: 1px solid #AEB2B8
    border-radius: 10px
    width: 135px
    display: flex
    justify-content: center
    transition: .1s linear
    &:hover
        background-color: #000000
        color: white
        border: 1px solid #000000

.pagination_count
    font-weight: 500
    font-size: 14px
    color: #000000

.terminal_bottom
    display: flex
    justify-content: center
    align-items: center
    padding: 40px 0
    button
        max-width: 360px